body {
    width: 100%;
    margin: 0;
}
.clearfix{
    clear:both;
}
.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.profiles-navigator {
    width: 200px;
    margin: 10px auto;
}

.profiles-navigator button{
    border-radius: 40%;
    border: solid 2px #f0f0f0;
    padding: 8px;
    color: #fff;
    font-weight: bold;
    background: #886a2d;
}
.profiles-navigator button:hover{
    cursor:pointer;
}

.profiles-navigator .prev{
    float:left;
}
.profiles-navigator .next{
    float:right;
}

.profiles-container {
    width: 100%;
    background: #3d3b3b;
    float: left;
    padding: 20px;
}

.profile-card {
    width: 25%;
    margin: 10px;
    border: solid 1px #ccc;
    border-radius: 15px;
    display: inline-block;
    float: left;
    background: #3e3e3e;
}
.card-header {
    position: relative;
    color: #aa8125;
    margin-bottom:15px;
}
.profile-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.card-title {
    position: absolute;
    bottom: 4px;
    right: 0px;
    width: 100%;
    background: #1a151578;
    padding: 10px 0;
}
.card-title span{
    width:100%;
    float:left;
    color:#fff;
    font-size: 11px;
    text-align: left;
    padding-left: 14px;
}

.card-title span:first-child{
    font-size:16px;
}
.profile-card .card-info {
    margin: 5px auto;
    width: 90%;
    border-bottom: solid 1px #ccc;
    display: inline-block;
}
.profile-card .card-info:last-of-type{
    border-bottom:none;
}
.profile-card .card-info span{
    float:right;
    color: #aa8125;
    font-size: 11px;
}
.profile-card .card-info span:first-child{
    color: #d4d4d4;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    float: left;
}
